@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Poppins:wght@700&family=Ubuntu:wght@300&display=swap');

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'Ubuntu', sans-serif;
}

.libraryContainer{
  width: 100%;
  height: 100%;
}

.libraryHeader {
  max-width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 1%;
  background-color: #000000;

}

.libraryHeader h1 {
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  margin-left: 3%;
  padding: 5px;
  color: #ffff;
}

.libraryHeader i {
  margin: 10px;
}

.addBook {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.buttonContainer {
  position: absolute;
  top: 10%;
  right: 43%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#fill{
  position: absolute;
  width: 20%;
  height: 100%;
  font-size: 30px;
  font-weight: 500;
  display: block;
  width: 250px;
  height: 50px;
  line-height: 46px;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  border: 3px solid seagreen;
  color: seagreen;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
  transition: all .2s;
  cursor: pointer;
  margin-top: 50px;
}

#fill:before,
#fill:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: seagreen;
  z-index: -1;
  transition: all .2s;
}

#fill:before {
  opacity: .5;
}

#fill:after{
  transition-delay: .2s;
}

#fill:hover{
  color: #fff;
}

#fill:hover:before,
#fill:hover:after{
  top: 0;
}

.inputContainer {
  background: rgb(20, 20, 20);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  transition: all 0.5s ease-in-out;
  z-index: -999;
  border-radius: 30px;
  visibility: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer.open {
  top: 50%;
  background: #fff;
  width: 20%;
  height: 40%;
  opacity: 1;
  z-index: 999;
  border-radius: 20px;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  border: 2px solid #000000;
  -webkit-box-shadow: 6px 10px 10px 0px #3C3C3C; 
  box-shadow: 6px 10px 10px 0px #3C3C3C;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer input {
  outline: none;
  border: none;
  background-color: #dddbdb;
  border-radius: 5px;
  border-bottom: 3px solid #3f3f3f;
  height: 7%;
  width: 50%;
  margin: 15px;
  font-size: 20px;
  padding: 5px;
}

::placeholder {
  font-size: 18px;
  color: #414141;
  padding: 10px;
}

#add {
  width: 40%;
  height: 10%;
  margin: 20px;
  padding: 10px ;
  border-radius: 40px;
  background-color: green;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.checkbox {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.checkbox input {
  margin: 0;
  height: 100%;
  width: 20%;
}

.checkbox label {
  font-size: 18px;
  font-weight: 600;
}

#books{
  margin-top: 5%;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  height: 30%;
  width: 15%;
  padding: 10px;
  margin: 30px;
  text-align: center;
  font-size: 22px;
  color: #000000;
  transition: 0.2s;
  cursor: pointer;
  border: 2px solid rgba(87, 87, 87, 0.48);
  border-radius: 20px;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.61); 
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.61);
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  margin: 0;
  margin-top: 10px;
}

.card select{
  margin-bottom: 10px;
}

.statusContainer {
  width: 100%;
  height: 15%;
  margin-bottom: 20px;
}

.statusContainer select{
  display: inline-block;
  height: 100%;
  width: 35%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.removeContainer {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeContainer button{
  width: 30%;
  height: 100%;
  background: #ff2a2a; 
  border: 1px solid #cc2525;
  box-shadow: 0px 2px 0 #cc2525, 2px 4px 6px #e62d2d;
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
  color: #fff;
}

.removeContainer button:hover {
  background: #e62626;
  border: 1px solid rgba(0, 0, 0, .05);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, .2); 
  color: #ff5252;
  text-decoration: none;
  text-shadow: -1px -1px 0 #990000;
  transition: all 250ms linear;
}